{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% set bootstrap_layout_class = ['col-lg-4', 'col-md-6', 'mb-3', 'd-flex', 'align-items-stretch'] %}

<div class="row">
  {% if rows -%}
    {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
      ]
    %}
    <div{{ row.attributes.addClass(bootstrap_layout_class) }}>
      {{- row.content -}}
    </div>
    {% endfor %}
  {% endif %}
</div>
