{#
/**
 * @file
 * Default theme implementation for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}
{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% set active_class = '' %}
{% set bootstrap_class_wrapper = ['carousel-item'] %}

<div class="carousel-indicators">
  {% for item in items %}
    {% if loop.first  %}
      {% set active_class = 'active' %}
      {% set aria_current = 'true' %}
    {% else %}
      {% set active_class = '' %}
      {% set aria_current = 'false' %}
    {% endif %}
  <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ loop.index - 1 }}" class="{{ active_class }}" aria-current="{{ aria_current }}" aria-label="Slider {{ loop.index }}"></button>
  {% endfor %}
</div>

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }}>
      {% for item in items %}
        {% if loop.first  %}
          {% set active_class = 'active' %}
        {% else %}
          {% set active_class = '' %}
        {% endif %}
        <div{{ item.attributes.addClass(bootstrap_class_wrapper).addClass(active_class) }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      {% if loop.first  %}
        {% set active_class = 'active' %}
      {% else %}
        {% set active_class = '' %}
      {% endif %}
      <div{{ attributes.addClass(bootstrap_class_wrapper).addClass(active_class) }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      {% if loop.first  %}
        {% set active_class = 'active' %}
      {% else %}
        {% set active_class = '' %}
      {% endif %}
      <div{{ item.attributes.addClass(bootstrap_class_wrapper).addClass(active_class) }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
